@import '../../root';
.shop{
  width: 100%;
  height: 100%;

  padding-top: 60px;
  background-color: #eeeeee;
}
.shop__header{
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: $lightMain;
}
.shop__money{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.8rem;
  color: #767676;

  margin-bottom: 20px;
}
.color-money{
  color: $money;
  margin: 0 5px 0 8px;
}
.shop .money-img{
  width: 25px;
  height: 25px;
  margin: 0 8px 0 0;
}