@import '../../root';
.shop{
  width: 100%;
  min-height: 100%;
  padding: 45px 0;
  background-color: #eeeeee;
}
.shop__header{
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: $lightMain;
}
.shop__money{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.8rem;
  color: #767676;

  margin: 10px 0;
}
.color-money{
  color: $money;
  margin: 0 5px 0 8px;
}
.shop .money-img{
  width: 25px;
  height: 25px;
  margin: 0 8px 0 0;
}

@media (min-width: 359px) {
  .shop{
    padding: 55px 0;
  }
}
@media (min-width: 1000px) {
  .shop{
    padding: 65px 0;
  }
  .shop__money{
    font-size: 2.2rem;
  }
}