@import '../../root';

.gameSettings .top-menu__inner{
  justify-content: center;
}

.gameSettings__name {
  color: #4b4b4b;
  font-size: 2rem;
  text-align: center;
}

.gameSettings .top-menu {
  justify-content: center;
}


.gameSettings__setting {
  width: 100%;
  height: 70px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  background-color: white;

  border-radius: 8px;
  border-bottom: 2px solid;

  margin-bottom: 10px;

  padding: 5px 15px;
}


.setting__additional{
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.5rem;
  color: #4b4b4b;
}

.gameSettings_wrapper .gameSettings__setting:nth-child(1) {
  border-color: rgb(118, 232, 121);
}
.gameSettings_wrapper .gameSettings__setting:nth-child(2) {
  border-color: rgb(89, 228, 227);
}
.gameSettings_wrapper .gameSettings__setting:nth-child(3) {
  border-color: #f8dc00;
}
.gameSettings_wrapper .gameSettings__setting:nth-child(4) {
  border-color: #eb6c78;
}
.gameSettings_wrapper .gameSettings__setting:nth-child(5) {
  border-color: #bab3eb;
}

input[type=range] {
  height: 23px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #DEDEDE;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 17px;
  width: 17px;
  border-radius: 9px;
  background: #76E879;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #DEDEDE;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #DEDEDE;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 17px;
  width: 17px;
  border-radius: 9px;
  background: #76E879;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #DEDEDE;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #DEDEDE;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 17px;
  width: 17px;
  border-radius: 9px;
  background: #76E879;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #DEDEDE;
}
input[type=range]:focus::-ms-fill-upper {
  background: #DEDEDE;
}

.gameSettings_wrapper .gameSettings__setting:nth-child(2) input[type=range]::-webkit-slider-thumb{
  background: rgb(89, 228, 227);
}

.gameSettings_wrapper .gameSettings__setting:nth-child(3) input[type=range]::-webkit-slider-thumb{
  background: #f8dc00;
}


.gameSettings_wrapper .gameSettings__setting:nth-child(4) input[type=range]::-webkit-slider-thumb{
  background: #eb6c78;
}

.gameSettings_wrapper .gameSettings__setting:nth-child(5) input[type=range]::-webkit-slider-thumb{
  background: #bab3eb;
}

.gameSettings__start{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;

  width: 150px;

  background-color: $darkMain;

  padding: 5px 20px;

  border-radius: 8px;

  text-align: center;
  color: white;
  font-size: 2rem;
}

@media (min-width: 1000px) {
  .gameSettings__setting {
    height: 75px;
    width: 400px;
    margin: 15px auto;
  }
  .setting__additional{
    font-size: 1.8rem;
  }
  .gameSettings__name {
    font-size: 3rem;
  }
  .gameSettings__start{
    width: 200px;
    border-radius: 10px;
    font-size: 2.8rem;
    bottom: 80px;
  }

}
