@import '../../root';
.playerLevel{
  position: relative;
  margin-left: 20px;
}
.playerLevel_level{
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);

  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: $darkMain;
  box-shadow: 2px 2px 3px $lightMain;

  font-size: 1.7rem;
  color: white;
}
.playerLevel_level_small{
  font-size: 1.4rem;
}
.playerLevel__progress-bar{
  position: relative;

  width: 70px;
  height: 16px;


  border-radius: 0 4px 4px 0;
  background-color: $lightClose;
}
.progress{
  height: 100%;
  background-color: $lightMain;
  border-radius: 0 5px 5px 0;
}
.progress-bar__dec{
  position: absolute;
  background-color: white;
  width: 1px;
  height: 1px;
}
.progress-bar__dec_1, .progress-bar__dec_2{
  width: 2px;
  height: 2px;
}
.progress-bar__dec_1{
  left: 20%;
  top: 20%;
}
.progress-bar__dec_2{
  left: 40%;
  top: 60%;
}
.progress-bar__dec_3{
  left: 60%;
  top: 25%;
}
.progress-bar__dec_4{
  left: 80%;
  top: 65%;
}
$levelLeft: 26px;
@media (min-width: 359px) {
  .playerLevel{
    margin-left: $levelLeft;
  }
  .playerLevel__progress-bar{
    width: 70px;
    height: 21px;


    border-radius: 0 5px 5px 0;
  }
  .playerLevel_level{
    left: -$levelLeft;

    width: 32px;
    height: 32px;



    font-size: 1.9rem;
  }
  .playerLevel_level_small{
    font-size: 1.6rem;
  }
}