@import '../../../root';
.shultz-game td{
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;

  cursor: pointer;
}
.shultz-game__flex{
  font-size: 1.2rem;
  color: #4b4b4b;
  display: flex;
  justify-content: space-between;

  padding: 0 5px;
}
.next-num{
  margin: 0 auto 5px 0;
}
.shultz-game table{
  table-layout: fixed;
  margin-right: 1px;
}
@for $i from 3 through 10 {
  .shultz-width-#{$i} td{
    font-size: 5rem - (0.5rem * ($i - 3));
  }
}
.shultz-game .right-answer{
  background-color: $right;
}
.shultz-game .wrong-answer{
  background-color: $wrong;
}

@media (min-width: 359px) {

}
