@import '../../root';

.mainPage{
  width: 100%;


  padding: 45px 20px;

  background-color: $lightClose;
}
.top-tip{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 20px 0 10px 0;
}

.trainers{
  display: inline-block;
  font-size: 1.1rem;

  padding: 3px 7px;


  background-color: white;
  border-radius: 10px;
}



@media (min-width: 359px) {
  .mainPage{
    padding-top: 55px;
  }
}