@import '../../root';
$giftWidth: 35px;
.gift{
  margin-right: $giftWidth/1.2;
}
.gift__time{
  position: relative;

  width: 60px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;

  font-size: 1rem;
  color: #111112;

  background-color: white;
}

.gift-image{
  position: absolute;
  right: -$giftWidth/1.2;
  top: 50%;
  transform: translateY(-60%);


  width: $giftWidth;
  height: 40px;

  background: url(gift.png) center center no-repeat;
  background-size: 100%;


}