@import '../../../root';
.field-game td{
  font-size: 3.5rem;
  width: 50px;
  height: 50px;
}
.field-game td, .field-game tr, .field-game table{
  border: none;
}

.field-game-cols7 td{
  font-size: 3rem;
  width: 40px;
  height: 40px;
}
.field-game-cols9 td{
  font-size: 2.5rem;
  width: 35px;
  height: 35px;
}

.field-game__mistake-button{
  display: block;

  font-size: 2rem;
  padding: 8px 32px;

  background-color: white;
  border-radius: 8px;

  margin: 100px auto 10px auto;
  outline: none;

  cursor: pointer;
}
.field-game__mistake-button:active{
  border: 1px solid $gameColor;
  transform: scale(0.99);
  outline: none;
}
@media (min-width: 359px) {

}