@import '../../../root';
.field-game{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 80px 0;
}
.field-game .game-line-rounds{
  margin: 0;
}
.field-game td{
  font-size: 3.5rem;
  width: 50px;
  height: 50px;
}
.field-game td, .field-game tr, .field-game table{
  border: none;
}


@for $i from 3 through 11 {
  .field-game-cols#{$i} td{
    width: 50px - (2.5px * ($i - 3));
    height: 50px - (2.5px * ($i - 3));
    font-size: 3.5rem - (0.2rem * ($i - 3));
  }
}

.field-game__mistake-button{
  display: block;

  font-size: 2rem;
  padding: 8px 32px;

  background-color: white;
  border-radius: 8px;

  //margin: 50px auto 10px auto;
  outline: none;

  cursor: pointer;
}
.field-game__mistake-button:active{
  border: 1px solid $gameColor;
  transform: scale(0.99);
  outline: none;
}
@media (min-width: 600px) {
  @for $i from 3 through 11 {
    .field-game-cols#{$i} td{
      width: 65px - (2.5px * ($i - 3));
      height: 65px - (2.5px * ($i - 3));
      font-size: 4.5rem - (0.2rem * ($i - 3));
    }
  }
}