@import '../../../root';

.chet-length5 .findSomething-game__numbers__num{
  font-size: 1.8rem;
}
.chet-length6 .findSomething-game__numbers__num{
  font-size: 1.7rem;
}
.chet-length7 .findSomething-game__numbers__num{
  font-size: 1.6rem;
}
.chet-length8 .findSomething-game__numbers__num{
  font-size: 1.5rem;
}
.wrong-number{
  color: $wrong;
}
.right-number{
  color: $right;
}
@media (min-width: 359px) {
  .chet-length5 .findSomething-game__numbers__num{
    font-size: 1.9rem;
  }
  .chet-length6 .findSomething-game__numbers__num{
    font-size: 1.8rem;
  }
  .chet-length7 .findSomething-game__numbers__num{
    font-size: 1.7rem;
  }
  .chet-length8 .findSomething-game__numbers__num{
    font-size: 1.6rem;
  }
}
@media (min-width: 600px) {
  .chet-length5 .findSomething-game__numbers__num{
    font-size: 2.2rem;
  }
  .chet-length6 .findSomething-game__numbers__num{
    font-size: 2.1rem;
  }
  .chet-length7 .findSomething-game__numbers__num{
    font-size: 2rem;
  }
  .chet-length8 .findSomething-game__numbers__num{
    font-size: 1.9rem;
  }
}