@import '../../../root';
.chet-game__numbers{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  width: 300px;
}
.chet-game__numbers__num{
  width: 70px;
  height: 55px;

  font-size: 2rem;
  color: $gameColor;

  display: flex;
  justify-content: center;
  align-items: center;
}
.chet-game .wrong-number{
  color: $wrong;
}
.chet-game .right-number{
  color: $right;
}
@media (min-width: 359px) {

}