@import '../../root';

.gamePage {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $lightClose;
}
.gamePage .top-menu{
  justify-content: center;
  color: #4b4b4b;
  font-size: 1.8rem;
  border-color: #5a5a5a;
}
.playAgain, .pause{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.playAgain{
  left: 8px;
  background: url(again.png) center center no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
}
.pause{
  right: 8px;
  background: url(pause.png) center center no-repeat;
  background-size: 100%;
  width: 18px;
  height: 30px;
}
.pause-block{
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 2rem;

  color: white;

  background-color: #4b4b4b;
}

.gamePage .return-back{
  background-color: #5a5a5a;
  box-shadow: 2px 2px 3px #939393;
}
.fade-game-enter{
  opacity: 0;
}
.fade-game-exit{
  opacity: 1;
}
.fade-game-enter-active{
  opacity: 1;
}
.fade-game-exit-active{
  opacity: 0;
}
.fade-game-enter-active,
.fade-game-exit-active{
  transition: opacity 500ms;
}


.game-page__rounds{
  margin: 0 0 25px 5px;
  color: #4b4b4b;
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.game-page__flex{
  font-size: 1.2rem;
  color: $gameColor;
  display: flex;
  justify-content: space-between;

  padding: 0 5px;
}
@media (min-width: 359px) {

}