@import '../../../root';


.findWord__field{
  background-color: white;
  margin: 0 auto;
}
.findWord__cell{
  width: 52px;
  height: 52px;

  text-align: center;
  vertical-align: middle;

  font-size: 2.6rem;
  text-transform: uppercase;

}
.findWord-game__done-words{
  text-align: center;
  font-size: 1.6rem;
  color: #414141;
  margin-bottom: 10px;
}
.findWords__done-word{
  text-decoration: line-through;
}


.findWord__cell_selected{
  background-color: $lightMain;
}
.findWord__cell_done{
  background-color: $darkMain;
}
@media (min-width: 600px) {
  .findWord-game__done-words{
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  .findWord__cell{
    width: 60px;
    height: 60px;

    font-size: 2.8rem;

  }
}