.findLetters-game .findSomething-game__numbers__num {
    height: 35px;
}

@media (min-width: 600px) {
    .findLetters-game .findSomething-game__numbers__num {
        font-size: 2.6rem;
        height: 42px;
    }
}
